{
 :tasks
 {-platform
  {:doc      "Fetches the platform the user is running"
   :requires ([clojure.string :as str])
   :task     (if (= "Darwin" (str/trim (:out (shell {:out :string} "uname"))))
               :osx
               :linux)}

  library:lint
  {:doc     "Lints the project with clj-kondo"
   :depends [-platform]
   :task    (do
              (println "Linting...")
              (if (= :osx -platform)
                (shell "./scripts/lint/clj-kondo-2021-06-18-mac --lint src/")
                (shell "./scripts/lint/clj-kondo-2021-06-18-linux --lint src/")))}

  library:format
  {:doc  "Formats the project with cljstyle" :depends [-platform]
   :task (do
           (println "Formatting...")
           (if (= :osx -platform)
             (shell "./scripts/format/cljstyle-0-15-0-mac fix")
             (shell "./scripts/format/cljstyle-0-15-0-linux fix")))}

  library:test
  {:doc  "Runs all tests"
   :task (do
           (println "Testing...")
           (shell "clojure -X:test"))}

  library:check
  {:doc     "Runs all static checks"
   :depends [library:format
             library:lint]}
  default
  {:doc     "Default task for go. Runs all checks and tests."
   :depends [library:check
             library:test]}}}
